In [3]:
import numpy as np
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

In [4]:
dftitan = pd.read_csv("C:/Users/utkar/Downloads/titanic.csv")

In [5]:
dftitansc

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Unnamed: 15
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,NaN
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,NaN
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,NaN
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,NaN
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,NaN
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,NaN
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,NaN
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,NaN
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,NaN

In [6]:
dftitan.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Unnamed: 15
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,NaN
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,NaN
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,NaN
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,NaN
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,NaN

In [7]:
dftitan.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Unnamed: 15
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True,NaN
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True,NaN
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False,NaN
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True,NaN
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,NaN

In [8]:
dftitan.shape

(891, 16)

In [9]:
dftitan.size

14256

In [10]:
dftitan.dtypes

survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
deck            object
embark_town     object
alive           object
alone             bool
Unnamed: 15    float64
dtype: object

In [11]:
dftitan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
 15  Unnamed: 15  0 non-null      float64
dtypes: bool(2), float64(3), int64(4), object(7)
memory usage: 99.3+ KB

In [12]:
dftitan.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone', 'Unnamed: 15'],
      dtype='object')

In [13]:
dftitan= dftitan[['sex', 'age','fare','class', 'who','embark_town', 'alive', 'alone']]

In [14]:
x = dftitan.drop(columns = "alive", axis = 1)

In [15]:
y = dftitan["alive"]

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.32, random_state = 23)

In [18]:
x_train.shape, x_test.shape

((605, 7), (286, 7))

In [19]:
y_train.shape, y_test.shape

((605,), (286,))

In [20]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import RobustScaler, PowerTransformer, OrdinalEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer

In [21]:
for i, j in enumerate(x_train.columns):
    print(f'{i}...{j}')

0...sex
1...age
2...fare
3...class
4...who
5...embark_town
6...alone

In [22]:
colTrans = ColumnTransformer(transformers=[
 ("ageImputer", SimpleImputer(strategy= "median"),[1]),   
 ("embark_townImputer", SimpleImputer(strategy = "most_frequent"), [5]),  
 ("OneHotEncoder", OneHotEncoder (sparse = False, drop = "First"), [0,4,5,6]),  
 ("ClassOrdinalEncoding", OrdinalEncoder(categories = [['First', "Second", "Third"]]), [3]),   
  ("robustccaler", RobustScaler(), [1,2]),   
  ("yeojohnsonTransformer", PowerTransformer(), [1,2]),
    ], remainder = "passthrough")

In [23]:
colTrans

ColumnTransformer(remainder='passthrough',
                  transformers=[('ageImputer', SimpleImputer(strategy='median'),
                                 [1]),
                                ('embark_townImputer',
                                 SimpleImputer(strategy='most_frequent'), [5]),
                                ('OneHotEncoder',
                                 OneHotEncoder(drop='First', sparse=False),
                                 [0, 4, 5, 6]),
                                ('ClassOrdinalEncoding',
                                 OrdinalEncoder(categories=[['First', 'Second',
                                                             'Third']]),
                                 [3]),
                                ('robustccaler', RobustScaler(), [1, 2]),
                                ('yeojohnsonTransformer', PowerTransformer(),
                                 [1, 2])])

## SKLEARN PIPELINE

In [24]:
from sklearn import set_config
set_config(display= "diagram")
colTrans

ColumnTransformer(remainder='passthrough',
                  transformers=[('ageImputer', SimpleImputer(strategy='median'),
                                 [1]),
                                ('embark_townImputer',
                                 SimpleImputer(strategy='most_frequent'), [5]),
                                ('OneHotEncoder',
                                 OneHotEncoder(drop='First', sparse=False),
                                 [0, 4, 5, 6]),
                                ('ClassOrdinalEncoding',
                                 OrdinalEncoder(categories=[['First', 'Second',
                                                             'Third']]),
                                 [3]),
                                ('robustccaler', RobustScaler(), [1, 2]),
                                ('yeojohnsonTransformer', PowerTransformer(),
                                 [1, 2])])